@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-black: #2b2a2a;
  --color-dark-grey: #4d4b4b;
  --color-grey: #a6a6a6;
  --color-grey70: #838383;
  --color-light-grey: #f0f0f0;
  --color-off-white: #f1f2eb;
  --color-white: #fcfcfc;

  --color-red: #cc3233;
  --color-dark-red: #ba2525;

  --color-yellow: #fed130;

  /*Typografi */
  --font-display: "Honk", monospace;
  --font-sans: "Quicksand", sans-serif;
  --font-serif: "Domine", serif;

  @color grey70 var(--color-grey70);
}

@layer base {
}

@layer components {
}

@layer utilities {
}
