---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import NewsCard from "../components/NewsCard.astro";
import HeroCard from "../components/HeroCard.astro";
---

<MainLayout title="Komponentbibliotek">
  <!-- HEROCARD START -->
  <HeroCard
    title="Vores arbejde"
    subtitle="Små handlinger, store forskelle – hver eneste dag"
    imageSrc="/img/OurWork.png"
    imageAlt="Frivillige hos Street Care, der smiler sammen"
  />
  <!-- HEROCARD SLUT -->

  <main class="">
    <Heading htmlheading="h1" size="h1">Komponentbibliotek</Heading>
    <Text stylingclasses="italic">
      Her kan du finde alle de komponenter, der er brugt i dette projekt.
    </Text>

    <hr class="my-4" />

    <!-- start på typografi -->
    <section>
      <Heading htmlheading="h2" size="h2">Typografi & ovesrkrifter</Heading>
      <Text>
        Her kan du finde alle de komponenter, der er brugt i dette projekt.
      </Text>

      <Heading htmlheading="h1" size="h1">h1 - nafta light</Heading>
      <Heading htmlheading="h2" size="h2"
        >h2 - General Sans Variable Medium</Heading
      >
      <Heading htmlheading="h3" size="h3"
        >h3 - General Sans Variable Medium</Heading
      >
      <Heading htmlheading="h4" size="h4"
        >h4 - General Sans Variable Semibold</Heading
      >
      <Heading htmlheading="h5" size="h5"
        >h5 - General Sans Variable Medium</Heading
      >
      <Heading htmlheading="h6" size="h6"
        >h6 - General Sans Variable Semibold</Heading
      >

      <Text teksttype="p_base_reg">
        Her er en sektion brødtekst (p_base_reg - General Sans Variable
        Regular): Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Ullam dolorem doloremque commodi eaque quisquam quasi recusandae veniam.
        Corporis totam reiciendis quibusdam ratione iure aut, numquam tenetur
        voluptatem exercitationem sequi enim!
      </Text>

      <Text teksttype="p_base_med">
        Her en sektion brødtekst med tykkere font-weight (p_base_med - General
        Sans Variable Medium): Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Ullam dolorem doloremque commodi eaque quisquam quasi
        recusandae veniam. Corporis totam reiciendis quibusdam ratione iure aut,
        numquam tenetur voluptatem exercitationem sequi enim!
      </Text>

      <Text teksttype="p_small_reg">
        Her er en lille tekst (p_small_reg - General Sans Variable Regular).
      </Text>

      <Text teksttype="p_large_reg">
        Her er en større tekst (p_large_reg - General Sans Variable Regular).
      </Text>

      <Text teksttype="p_large_med">
        Her er en større tekst med tykkere font-weight (p_large_med - General
        Sans Variable Regular).
      </Text>
    </section>
    <!-- slut på typografi -->

    <hr class="my-4" />

    <!-- Link komponent instanser -->
    <section>
      <Heading htmlheading="h2" size="h2">Links</Heading>

      <Text teksttype="brødtekst">
        <Link href="#">Default link: </Link>
        Default linket er en del af en tekst, og burde gerne fungere som et
        <Link href="#">link</Link> i en paragraf.
      </Text>

      <Text><Link href="#" variant="primary">Link variant: primary</Link></Text>

      <Text>
        <Link href="#" variant="primary" size="small">
          Link variant: primary size small
        </Link>
      </Text>

      <Text>
        <Link href="#" variant="primary" size="medium">
          Link variant: primary size medium
        </Link>
      </Text>

      <Text>
        <Link href="#" variant="primary" size="large">
          Link variant: primary size large
        </Link>
      </Text>

      <Text>
        <Link href="#" variant="secondary" size="small">
          Link variant: secondary size small
        </Link>
      </Text>

      <Text>
        <Link href="#" variant="secondary" size="medium">
          Link variant: secondary size medium
        </Link>
      </Text>

      <Text>
        <Link href="#" variant="secondary" size="large">
          Link variant: secondary size large
        </Link>
      </Text>
    </section>
    <!-- Slut på Link komponent instanser -->

    <hr class="my-4" />

    <!-- Buttons komponent instanser -->
    <section>
      <Heading htmlheading="h2" size="h2">Buttons</Heading>

      <Button variant="outline" href="/stoet">Støt nu</Button>

      <Button variant="solid-red" href="/blivfrivillig">
        Bliv frivillig
      </Button>

      <Button variant="outline-light" href="#doner">Støt nu</Button>

      <Button variant="solid-white">Støt nu</Button>
    </section>
    <!-- Slut på Buttons komponent instanser -->

    <NewsCard
      imageSrc="/img/CardImg1.png"
      imageAlt="Mand på gaden"
      labelText="Portræt"
      labelHref="/interviews"
      title="Fra tryghed til gaden:"
      subtitle="Vejen ind i hjemløshed og kampen tilbage"
      href="/artikler/fra-tryghed-til-gaden"
    />
  </main>
</MainLayout>
