---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import HeroCard from "../components/HeroCard.astro";
import Bullet from "../components/Bullet.astro";
import SubtleLink from "../components/SubtleLink.astro";
---

<MainLayout title="Om Street Care">
  <main>
    <section
      id="hero"
      class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
    >
      <!-- HEROCARD START -->
      <HeroCard
        title="Om Street Care"
        subtitle="Hvad vi står for & hvem vi står med"
        imageSrc="/img/about-people.webp"
        imageAlt="Frivillig hos Street Care taler i mikrofon for en gruppe mennesker"
      />
      <!-- HEROCARD SLUT -->
    </section>
    <section id="om" class="px-4 pt-[96px] lg:px-[60px]">
      {/* Top: overskrift + brødtekst */}
      <div class="lg:grid lg:grid-cols-12 lg:gap-[20px]">
        <div
          class="lg:col-start-1 lg:col-end-6 max-w-[600px] lg:max-w-full opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
        >
          <Heading>Om Street Care</Heading>
          <Heading htmlheading="h4" size="statement"
            >Mennesker er noget særligt – og ingen skal stå alene</Heading
          >
        </div>

        <Text
          stylingclasses="py-[20px] lg:py-0 lg:pt-[30px] lg:col-start-7 lg:col-end-13 max-w-[600px] lg:max-w-full opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
        >
          Street Care er en non-profit organisation, der siden 2020 har arbejdet
          blandt Københavns mest udsatte. Vi møder mennesker dér, hvor de er –
          på gaden, i vores værested og midt i hverdagens udfordringer – og
          giver støtte, nærvær og fællesskab, når livet er svært. Vores arbejde
          bygger på et kristent livs- og menneskesyn, hvor omsorg, nærvær og
          rummelighed er de bærende værdier. Ethvert menneske har værdi, og
          vores opgave er at se, lytte og støtte – i øjenhøjde og uden
          forbehold.
        </Text>
      </div>

      {/* Bund: billede + kontaktkort */}
      <div
        class="mt-[40px] lg:mt-[52px] lg:grid lg:grid-cols-12 lg:gap-[20px] opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
      >
        {/* Billede */}
        <img
          src="/img/faith-care.webp"
          alt="Hjemløs mand står med sin hund foran kirke"
          class="w-full h-auto object-cover lg:col-start-1 lg:col-end-13"
        />

        {
          /* Kontakt-kort: mobil = under billedet, desktop = overlap via negativ margin */
        }
        <article
          class="mt-8 bg-red rounded-[10px] px-[20px] py-[40px] lg:px-[50px] text-white
             lg:col-start-7 lg:col-end-13 lg:-mt-[160px] lg:z-10 max-w-[400px] lg:max-w-none mx-auto lg:mx-0"
        >
          <Heading htmlheading="h4" size="h4">Kontakt os</Heading>

          <div
            class="xl:flex xl:justify-between xl:gap-[30px] opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
          >
            <div>
              <Heading
                htmlheading="h6"
                size="h6"
                stylingclasses="text-white pt-[30px]"
              >
                Kontaktperson:
              </Heading>
              <Text stylingclasses="text-white">Daglig leder,</Text>
              <Text stylingclasses="text-white">Allan Frederiksen</Text>
              <SubtleLink href="mailto:af@streetcare.dk"
                >af@streetcare.dk</SubtleLink
              >
              <SubtleLink href="tel:31142100">+ 45 31 14 21 00</SubtleLink>
            </div>

            <div>
              <Heading
                htmlheading="h6"
                size="h6"
                stylingclasses="text-white pt-[30px]"
              >
                Værestedets adresse:
              </Heading>
              <SubtleLink
                href="https://www.google.com/maps/dir//Worsaaesvej+5,+1972+Frederiksberg/"
              >
                Evangeliekirken,<br />Worsaaesvej 5,<br />1972 Frederiksberg
              </SubtleLink>
            </div>

            <div>
              <Heading
                htmlheading="h6"
                size="h6"
                stylingclasses="text-white pt-[30px] break-words"
              >
                Virksomhedsadresse:
              </Heading>
              <SubtleLink
                href="https://www.google.com/maps/place/Drejervej+13,+2400+K%C3%B8benhavn/"
              >
                S/I Street Care<br />Drejervej 13-21<br />2400 København NV
              </SubtleLink>
            </div>
          </div>

          <div
            class="mt-[30px] flex justify-center gap-[10px] whitespace-nowrap lg:justify-end"
          >
            <Button variant="outline-light">Ring til os</Button>
            <Button variant="outline-light">Send mail</Button>
          </div>
        </article>
      </div>
    </section>
    <section
      id="vision"
      class="px-4 py-[96px] lg:px-[60px] opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
    >
      <div class="lg:grid lg:grid-cols-12 lg:gap-[20px]">
        <Heading
          htmlheading="h4"
          size="statement"
          stylingclasses="lg:col-start-1 lg:col-end-8 max-w-[600px] lg:max-w-full"
        >
          Midt i byens støj finder vi dem, der er glemt.
          <span class="text-[var(--color-grey)]">
            {" "}
            Street Care står skulder ved skulder med Københavns mest udsatte – med
            kaffe i hånden, tid i stemmen og fællesskab i hjertet. Ingen skal bære
            livet alene.
          </span>
        </Heading>
        <div
          class="pt-[30px] lg:pt-[8px] lg:col-start-11 lg:col-end-13 lg:text-right"
        >
          <Link href="/stoet" variant="action">Støt her</Link>
        </div>
      </div>
      <!-- BULLETS -->
      <div
        class="lg:col-span-12
    md:grid md:grid-cols-2 md:gap-x-[40px] md:gap-y-[12px]
    lg:grid lg:grid-cols-3 lg:gap-x-[60px] lg:gap-y-[12px] opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect:delay-800"
      >
        <Bullet
          icon="formaal.svg"
          heading="Vores formål"
          text="Vi arbejder for, at udsatte bliver set, mødt og hørt – og får hjælp til at håndtere både store og små udfordringer i livet. Vi følger mennesker på vej så længe, det giver mening for dem."
          stylingclasses="pt-[40px] lg:pt-[60px] text-dark-grey"
        />
        <Bullet
          icon="vision.svg"
          heading="Vores vision"
          text="Vi ønsker, at langt flere udsatte genfinder tro, styrke og håb for fremtiden, og får mulighed for at skabe et liv, der føles trygt, værdifuldt og fuldt af muligheder."
          stylingclasses="pt-[40px] lg:pt-[60px]"
        />
        <Bullet
          icon="vaerdier.svg"
          heading="Vores værdier"
          text="Omsorg – vi møder mennesker med forståelse, respekt og tid. Nærvær – vi er til stede i relationerne og lytter uden fordomme. Rummelighed – hos os er der plads til forskellighed, sårbarhed og livserfaring."
          stylingclasses="pt-[40px] lg:pt-[60px]"
        />
        <Bullet
          icon="tilgang.svg"
          heading="Vores tilgang"
          text="Vi arbejder tværkirkeligt og samarbejder bredt med frivillige, kirker og sociale aktører for at styrke indsatsen for udsatte i Danmark. Vi lader os inspirere af fortællinger om næstekærlighed og praktisk omsorg i handling – små skridt, der gør en stor forskel."
          stylingclasses="pt-[40px] lg:pt-[60px]"
        />
        <Bullet
          icon="transparens.svg"
          heading="Transparens"
          text="Som selvejende institution deler vi hvert år årsberetning, regnskab og nyhedsbrev, så du som donor eller frivillig kan se, hvad din støtte går til."
          stylingclasses="pt-[40px] lg:pt-[60px]"
        />
        <Bullet
          icon="ansvar.svg"
          heading="Ansvar"
          text="Vi passer desuden ansvarligt på persondata og deler aldrig billeder eller oplysninger uden samtykke."
          stylingclasses="pt-[40px] lg:pt-[60px]"
        />
      </div>
    </section>
  </main>
</MainLayout>
