---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Støt">
  <main>
    <section id="hero"></section>
    <section id="anden_støtte"></section>
    <section id="vidste_du"></section>
    <section id="pengene"></section>
  </main>
</MainLayout>
