---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import NewsCard from "../components/NewsCard.astro";
---

<MainLayout title="Støt">
  <main>
    <section id="hero"></section>
    <section id="anden_stoette" class="px-4 py-20 lg:px-[60px]">
      {/* Heading */}
      <div class="max-w-[900px]">
        <Text teksttype="p_large_med" stylingclasses="text-dark-grey">
          Andre måder at støtte på
        </Text>

        <Heading htmlheading="h2" size="h2" stylingclasses="mb-[20px]">
          Ikke alle bidrag er økonomiske.
          <span class="text-[var(--color-grey)]">
            {" "}
            Vi har brug for mange typer støtte.
          </span>
        </Heading>
      </div>

      {/* Cards */}
      <div>
        {/* Mobil: horisontal scroll */}
        <div
          class="-mx-4 px-4
        flex gap-4 overflow-x-auto
        snap-x snap-mandatory
        pb-2
        lg:mx-0 lg:px-0
        lg:overflow-visible lg:pb-0
        lg:flex lg:gap-[20px]"
        >
          <div class="snap-start shrink-0 lg:shrink lg:flex-1 pl-4 lg:pl-0">
            <NewsCard
              imageSrc="/img/anden-stoette1.webp"
              imageAlt="Frivillig kvinde med Street Care t-shirt"
              labelText="Frivillighed"
              labelHref="/blivfrivillig"
              subtitle="Bliv frivillig"
              href="/blivfrivillig"
              className="w-[315px] md:w-[440px] lg:w-full"
            />
          </div>

          <div class="snap-start shrink-0 lg:shrink lg:flex-1">
            <NewsCard
              imageSrc="/img/anden-stoette2.webp"
              imageAlt="Køkkenbord med madvarer"
              labelText="Anden donation"
              labelHref="/andendonation"
              subtitle="Donér mad, tøj eller udstyr"
              href="/andendonation"
              className="w-[315px] md:w-[440px] lg:w-full"
            />
          </div>

          <div class="snap-start shrink-0 lg:shrink lg:flex-1">
            <NewsCard
              imageSrc="/img/anden-stoette3.webp"
              imageAlt="Kvinde med Street Care t-shirt taler i mikrofon foran en gruppe mennesker"
              labelText="Samarbejde"
              labelHref="/samarbejde"
              subtitle="Samarbejde eller partnerskab?"
              href="/samarbejde"
              className="w-[315px] md:w-[440px] lg:w-full"
            />
          </div>
        </div>
      </div>
    </section>

    <section id="vidste_du"></section>
    <section id="pengene"></section>
  </main>
</MainLayout>
