---
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import SubtleLink from "../components/SubtleLink.astro";
import ScrollRingLogo from "../components/ScrollRingLogo.astro";
const pathname = new URL(Astro.request.url).pathname;
// Normaliser trailing slash (undtagen "/")
const currentPath = pathname !== "/" ? pathname.replace(/\/$/, "") : "/";
---

<header
  x-data="{ showmenu: false }"
  class="sticky top-0 z-40 w-full bg-off-white"
>
  <!-- Bar i fuld bredde -->
  <div class="px-4 lg:px-[60px]">
    <div class="flex items-center justify-between py-3 lg:py-4">
      <!-- Logo -->
      <a href="/" class="flex items-center gap-3 sm:gap-4 h-[54px]">
        <ScrollRingLogo
          count={6}
          personSize={22}
          size={56}
          radius={22}
          tilt={30}
          scrollSens={0.2}
          ease={0.12}
          src="/svg/singlemanlogo.svg"
          className="translate-y-[1px]"
        />
        <Text teksttype="brand_label" stylingclasses="m-0 leading-none">
          STREET CARE
        </Text>
      </a>

      <!-- Desktop menu + CTA -->
      <div class="hidden lg:flex h-full items-center gap-[40px]">
        <nav class="flex h-full items-center gap-10">
          <SubtleLink href="/voresarbejde"> Vores arbejde </SubtleLink>

          <SubtleLink href="/blivfrivillig"> Bliv frivillig </SubtleLink>

          <SubtleLink href="/om"> Om os </SubtleLink>
        </nav>

        <div class="flex h-full items-center">
          <Button variant="solid-red" href="/stoet">Støt nu</Button>
        </div>
      </div>

      <!-- Mobile burger -->
      <button
        type="button"
        class="lg:hidden inline-flex items-center justify-center cursor-pointer"
        aria-label="Åbn menu"
        x-on:click.stop="showmenu = !showmenu; console.log('showmenu:', showmenu)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-red"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.2"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4 7h16M4 12h16M4 17h16"
          >
          </path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile dropdown -->
  <nav
    class="relative z-50 lg:hidden border-grey bg-off-white"
    x-show="showmenu"
    x-cloak
    x-transition
    x-on:click.outside="showmenu = false"
  >
    <div class="px-4 pt-[20px] pb-[40px] flex flex-col gap-2">
      <a
        href="/voresarbejde"
        class="flex items-center justify-between py-[12px] border-b border-grey"
        x-on:click="showmenu = false"
      >
        <span class="p_base_med text-black">Vores arbejde</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-dark-grey"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.6"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </a>

      <a
        href="/blivfrivillig"
        class="flex items-center justify-between py-[12px] border-b border-dark-grey/30"
        x-on:click="showmenu = false"
      >
        <span class="p_base_med text-black">Bliv frivillig</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-dark-grey"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.6"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </a>

      <a
        href="/om"
        class="flex items-center justify-between py-[12px] border-b border-dark-grey/30"
        x-on:click="showmenu = false"
      >
        <span class="p_base_med text-black">Om os</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 text-dark-grey"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="1.6"
          aria-hidden="true"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </a>
      <!-- CTA row -->
      <div class="pt-[40px] place-self-end">
        <Button variant="solid-red" href="/stoet" x-on:click="showmenu = false">
          Støt nu
        </Button>
      </div>
    </div>
  </nav>
</header>
